#tensorflow==1.6.0
https://github.com/fo40225/tensorflow-windows-wheel/blob/master/1.6.0/py36/CPU/avx2/tensorflow-1.6.0-cp36-cp36m-win_amd64.whl?raw=true; 'win' in sys.platform
https://github.com/mind/wheels/releases/download/tf1.6-cpu/tensorflow-1.6.0-cp36-cp36m-linux_x86_64.whl; 'linux' in sys.platform
keras==2.1.6
mnist==0.2.1
opencv-python==3.4.1.15 
scikit-learn
theano
pandas
numpy
h5py
matplotlib